<html>
<head>
<meta charset="utf-8">
<title>Lista de Transações</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
	crossorigin="anonymous">
</head>
<body>
	<ul th:each="transacao : ${Transacoes}" class="list-group">
		<li class="list-group-item">
			Banco Origem: <div th:text="${transacao.bancoOrigem}" class="container-md">bancoOrigem</div>
			Agencia Origem: <div th:text="${transacao.agenciaOrigem}" class="container-md">agenciaOrigem</div>
			Conta Origem: <div th:text="${transacao.contaOrigem}" class="container-md">contaOrigem</div>
			Banco Destino: <div th:text="${transacao.bancoDestino}" class="container-md">bancoDestino</div>
			Agencia Destino: <div th:text="${transacao.agenciaDestino}" class="container-md">agenciaDestino</div>
			Agencia Destino: <div th:text="${transacao.contaDestino}" class="container-md">contaDestino</div>
			Valor: R$ <div th:text="${transacao.valor}" class="container-md">valor</div>
			Data e Hora da Transacao: <div th:text="${transacao.dataHoraTransacao}" class="container-md">dataHoraTransacao</div>
		</li>
	</ul>
</body>
</html>